<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Peek3D</string>
	<key>CFBundleDisplayName</key>
	<string>Peek3D</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.3dmanufacturing</string>
			<key>UTTypeDescription</key>
			<string>3D Manufacturing Format</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.3d-content</string>
				<string>public.zip-archive</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>3mf</string>
				</array>
				<key>public.mime-type</key>
				<string>application/vnd.ms-package.3dmanufacturing-3dmodel+xml</string>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>public.standard-tesselated-geometry-format</string>
			<key>UTTypeDescription</key>
			<string>STL File</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.3d-content</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>stl</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>public.geometry-definition-format</string>
			<key>UTTypeDescription</key>
			<string>OBJ File</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.3d-content</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>obj</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
